<%- include('partials/header.ejs') %>

<main class="container">
  <div id="sorting">
    <div>
      <label for="sort-choice">Sort:&nbsp;</label>
    </div>
    <form action="/" method="GET">
      <select id="sort-choice" name="order" class="form-select">
        <option value="ratingDesc">Rating: Top rated to least rated</option>
        <option value="ratingAsc">Rating: Least rated to top rated</option>
        <option value="dateDesc">Date: Newest to least recent</option>
        <option value="dateAsc">Date: Least recent to newest</option>
      </select>
    </form>
  </div>

  <div id="books">
    <% for (const book of books) { %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="<%= book.url %>">
          <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="<%= book.title %> book image" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <h3><a href="<%= book.url %>"><%= book.title %> by <%= book.author %></a></h3>
        <p>Release date : <%= book.date %>; Rating: <%= book.rating %> / 10</p>
        <p><%= book.notes %></p>

        <a href="<%= book.url %>/edit" class="btn btn-primary">Edit</a>
        <a href="<%= book.url %>/delete" class="btn btn-primary">Delete</a>
      </div>
    </div>
    <% } %>
  </div>

  <div id="pagination">
    <% for (let i = 1; i <= nbPages; i++) { %> <% if (i === currentPage) { %>
    <a class="btn btn-primary"><%= i %></a>
    <% } else { %>
    <a class="btn btn-secondary" href="/?p=<%= i %>&order=<%= order %>"><%= i %></a>
    <% } %> <% } %>
  </div>
</main>

<script>
  const params = new URLSearchParams(document.location.search);
  const order = params.get('order');

  $(`#sort-choice option[value=${order}]`).attr('selected', 'selected');

  $('#sort-choice').on('change', function () {
    this.form.submit();
  });
</script>

<%- include('partials/footer.ejs') %>
