<%- include('partials/header.ejs') %>

<main class="container">
  <div id="sorting">
    <div>
      <label for="sort-choice">Sort:&nbsp;</label>
    </div>
    <form action="/" method="GET">
      <select id="sort-choice" name="order" class="form-select">
        <option value="ratingDesc">Rating: Top rated to least rated</option>
        <option value="ratingAsc">Rating: Least rated to top rated</option>
        <option value="dateDesc">Date: Newest to least recent</option>
        <option value="dateAsc">Date: Least recent to newest</option>
      </select>
    </form>
  </div>

  <div id="books">
    <% for (const book of books) { %>
    <div class="row">
      <div class="col-2">
        <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="<%= book.title %> book image" />
      </div>
      <div class="col-10">
        <h3><%= book.title %> by <%= book.author %></h3>
        <p><%= book.notes %></p>
      </div>
    </div>
    <% } %>
  </div>

  <div id="pagination">
    <% for (let i = 1; i <= nbPages; i++) { %> <% if (i === currentPage) { %>
    <a class="btn btn-primary"><%= i %></a>
    <% } else { %>
    <a class="btn btn-secondary" href="/?p=<%= i %>&order=<%= order %>"><%= i %></a>
    <% } %> <% } %>
  </div>
</main>

<script>
  const params = new URLSearchParams(document.location.search);
  const order = params.get('order');

  $(`#sort-choice option[value=${order}]`).attr('selected', 'selected');

  $('#sort-choice').on('change', function () {
    this.form.submit();
  });
</script>

<%- include('partials/footer.ejs') %>
